html,body{
  height: 100%;
  position: relative;
}
#map{
  height: 100%;
}

button {
  position: absolute;
    top: 3px;
    right: 3px;
    z-index: 999;
background-color: #e7e7e7;
color: black;

  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: monospace;
  outline: none;
}

button.on {
  background-color: #4CAF50;
  color: #fff;
}
