html, body {
  height: 100%;
  position: relative; }

.map .chatbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 38, 38, 0.9);
  z-index: 1001;
  padding: 42px 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
  .map .chatbox .chatlist {
    flex: 1; }
  .map .chatbox .messageinput {
    height: 75px;
    border: solid #333;
    border-width: 1px 0 1px 0;
    padding: 5px 0; }
    .map .chatbox .messageinput textarea {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      resize: none;
      border: 0;
      outline: none;
      background-color: transparent;
      color: #ccc;
      font-family: monospace; }
  .map .chatbox .sendchat {
    bottom: 5px;
    top: initial;
    right: 5px;
    padding-left: 6px; }

.map #canvas {
  height: 100%;
  background-color: #262626; }

.map .mapbtn {
  position: absolute;
  top: 5px;
  z-index: 1002;
  background-color: #e7e7e7;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 6px;
  padding-left: 32px;
  font-size: 16px;
  font-family: monospace;
  text-align: left;
  outline: none;
  opacity: .5;
  cursor: pointer;
  background-size: 18px;
  background-repeat: no-repeat; }
  .map .mapbtn.sendlocation {
    right: 5px;
    background-image: url("/img/location.png");
    background-position: 7px 6px;
    min-width: 150px; }
    .map .mapbtn.sendlocation.on {
      background-image: url("/img/location_light.png");
      background-color: #4CAF50;
      color: #fff;
      opacity: 1;
      border: 1px solid #4CAF50; }
  .map .mapbtn.copylink {
    left: 5px;
    padding-left: 32px;
    background-image: url("/img/copy.png");
    background-position: 7px 4px; }
    .map .mapbtn.copylink.copied {
      opacity: 1;
      font-weight: bold; }
  .map .mapbtn.chat {
    top: inherit;
    left: 5px;
    bottom: 5px;
    padding-left: 32px;
    background-image: url("/img/chat.png");
    background-position: 7px 6px; }
  .map .mapbtn:hover {
    opacity: 1; }

.map .leaflet-control {
  opacity: .5; }
  .map .leaflet-control:hover {
    opacity: 1; }
